body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/* Репета сказал так надо! */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* a::before {
  content: "♥️";
  color: brown;
} */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Сброс стилей / Reset styles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
a {
  color: currentColor;
}
/* Рука-указатель */
button {
  cursor: pointer;
}

/* Переменные: цвета и прочее */
:root {
  --main-color: #212121;
  --highlight-color: #2196f3;
  --header-link-color: #757575;
  --main-tittle-color: #ffffff;
  --main-background-color: #2f303a;
  --description-text-color: #757575;
  --job-title-color: #757575;
  --footer-background-color: #2f303a;
  --footer-contact-color: #ffffff;
  --portfolio-speciality-color: #757575;
  --typical-margin: 30px;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container,
.header-nav,
.header-list {
  display: flex;
  align-items: center;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.header-logo-first,
.footer-logo-first {
  color: #2196f3;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item-link {
  color: var(--main-color);
}
.header-link {
  color: var(--header-link-color);
}
.contact-item:not(:first-child) {
  margin-left: 50px;
}

.header-item-link:hover,
.header-item-link:focus,
.header-link:hover,
.header-link:focus,
.contact-e:hover,
.contact-e:focus,
.contact:hover,
.contact:focus {
  color: var(--highlight-color);
}
.header-item-link:active,
.header-link:active,
.contact-e:active,
.contact:active {
  color: #ffa500;
}

/* main */

.main-box {
  background: #2f303a;
  padding: 200px 0;
}

.main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  background: var(--main-background-color);
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--main-tittle-color);
  background: var(--highlight-color);
  /* выровнять кнопку по центру */
  margin: 0 auto;
  display: block;
  /* выровнять кнопку по центру */
  min-width: 200px;
  height: 50px;
}

.main-btn:hover,
.main-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* прячем заголовок от пользователя, Google  видит заголовок */

h2[class="visually-hidden"],
h1[class="visually-hidden"] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.details {
  padding: 94px 0;
}

.description-list {
  display: flex;
}

.description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.description-li {
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
  margin-right: var(--typical-margin);
}
.description-li:last-child {
  margin-right: 0;
}
.team-works {
  padding-bottom: 94px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-li {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.team-li:not(:last-child) {
  margin-right: var(--typical-margin);
}

.section-team {
  background: #f5f4fa;
  padding: 94px 0;
}

.wrap-list {
  display: flex;
}
.warp-item {
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  text-align: center;
}

.warp-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.div-warp {
  padding: 30px 0;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
  margin-bottom: 10px;
}
.job-title {
  font-size: 16px;
  line-height: 1.19;
  color: var(--job-title-color);
}

/* footer */
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.div-footer-logo {
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts {
  background: var(--footer-background-color);
  font-style: normal;
}
.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}
.contact-e {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */

.section-potfolio {
  padding: 94px 0;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  box-sizing: border-box;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  height: 38px;
  padding: 6px 22px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn-list {
  text-align: center;
  margin-bottom: 50px;
}
ul.portfolio-btn-list li {
  display: inline-block;
}

.img-portfolio {
  display: block;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-item:not(:nth-child(3n)) {
  margin-right: var(--typical-margin);
}
.services-item:nth-child(-n + 6) {
  margin-bottom: var(--typical-margin);
}

.div-services {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.review {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.speciality {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--portfolio-speciality-color);
}
